@{
    ViewData["Title"] = "About Section";
}


<div class=" container" style="font-size:small">
    <p style="display:flex; float:left">I am Aleksandar Lavurovski and I am a student at the Faculty of Computer Science and Engineering in Skopje.
    I was born in the town of Struga whilst moving to Bitola at a young age. I finished my primary and secondary education there and 
    continued my studies to Skopje afterwards. I've grown up surrounded by computers and technology and was interested in it always!
    My primary passion and interests are in Cyber Security and Network Engineering, while Software and Web Development are a close second! You can 
learn more about me through my Portfolio/CV!</p>
    <p>Send an e-mail to <a href="mailto:lavurovski.a65@gmail.com" alt="lavurovski.a65@gmail.com" class="fst-italic text-decoration-none ">This Address!</a></p>
</div>

