@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 pt-4">Made by Aleksandar Lavurovski</h1>
    <h3 class="fst-italic fw-light">also know as "Acko"</h3>
    <p>ASP.NET and Bootstrap learning project</p>
</div>
